<div class="encabezado">
    <h1> Proyectos realizados </h1>
    <div class="btn-edit">
        <a href="#" class="bt-right"> <i class="fa fa-pen"></i> </a>
    </div>
    <div class="card-group">
        <div class="card" *ngFor="let proyec of proyectoList">
            <div class="face front">
                <img class="img-fluid" [src]="proyec.imgProyecto">
                <h3>{{proyec.nombreProy}}</h3>
            </div>
            <div class="face back">
                <p>{{proyec.descripcion}}</p>
                    <a href={{proyec.urlProyecto}} class="btn btn-outline-primary btn-block">Ver más... </a>
            </div>
        </div>
    </div>
</div>
