<div class="row">
    <h1>Educación </h1>
    <div class="btn-edit"> 
        <a href="#" class="bt-right"> <i class="fa fa-pen"></i> </a>
    </div>
    <div class="col-1"></div>
    <div class="col-11">
        <ul class="item-list">
            <li *ngFor="let edu of educacion">
                <a href="#">
                    <img class="logo-image" [src]="edu.imgEdu">
                </a>
                    <div class="list-info">
                       <div>
                        <h3>{{edu.nombreInst}}</h3>
                        <p>{{edu.tituloEdu}}</p>
                        <p><time>{{edu.comienzo}}</time> - <time>{{edu.fin}}</time></p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>