<header>
    <img class="baner" src="../../../assets/mariposa.jpg" alt="">
    <img class="perfil" src="../../../assets/myAvatar.png" alt="">            
    <div class="contenedor ">
        <div class="card">
            <div class="card-header">
                <!--<div class="card-body">-->
                    <h1>Pamela Morales</h1>
                    <h6>Estudiante desarrollo web full stack</h6>
                    <h6>Santa Fe (Argentina)</h6>
                <!--</div>-->
            </div>
        </div>
    </div>
</header>