<header>
    <img class="baner" [src]="myPortfolio.imgFondo"/>
    <img class="perfil" [src]="myPortfolio.imgPerfil" />            
    <div class="contenedor ">
        <div class="card">
            <div class="card-header">
                <div class="card-body">
                    <h1>{{myPortfolio.nombre}}</h1>
                    <h6>{{myPortfolio.posicion}}</h6>
                    <h6>{{myPortfolio.ubicacion}}</h6>
                </div>
            </div>
        </div>
    </div>
</header>