<div class="row">
    <h1> Experiencia Laboral</h1>
    <div class="col-lg-2">
        <button type="button" class="fa-solid fa-pen-to-square" routerLink="/nuevaExperiencia" *ngIf="isLogged">
        </button>
    </div>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul class="item-list">
            <li *ngFor="let Experiencia of experiencia">
                <div class="data-container">
                    <a href="#">
                        <div class="logo-imagen-container">
                            <img src="" alt="">
                        </div>
                    </a>
                    <div class="list-info">
                        <div>
                            <h3>{{Experiencia.nombreExp}}</h3>
                            <p>{{Experiencia.desripcionExp}}</p>
                            <h4>{{Experiencia.fechaInicioExp}} - {{Experiencia.fechaFinExp}}</h4>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>