<div class="row">
    <h1>Hard & Soft Skills</h1>
    <div class="img"> 
        <img src="../../../assets/html-5.png" alt="" width="200" height="200">
        <img src="../../../assets/css.png" alt="" width="200" height="200">
        <img src="../../../assets/javascript.png" alt="" width="200" height="200">
        <img src="../../../assets/java.png" alt="" width="200" height="200">
        <img src="../../../assets/github.png" alt="" width="200" height="200">
        <img src="../../../assets/piton.png" alt="" width="200" height="200">
        <img src="../../../assets/mysql.png" alt="" width="200" height="200">
        <img src="../../../assets/spring-seeklogo.com.svg" alt="" width="200" height="200">
        <img src="../../../assets/agile.png" alt="" width="200" height="200">
        <img src="../../../assets/pngegg.png" alt="" width="250" height="250">
    </div>
</div>