<div class="row">
    <h1> Hard & Soft Skills</h1>
    <div class="col-lg-2">
        <button type="button" class="btn btn-primary" routerLink="/nuevaSkill" *ngIf="isLogged"> Agregar Skill
        </button>
        <br>
    </div>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">

        <div *ngFor="let hys of skill">
            <div class="data-container">
                <div class="list-info">
                    <div>
                        <img class="logo-image" [src]="hys.imgSkill" width="200">
                        <button class="btn btn-light" routerLink="/edithys/{{hys.idSkill}}" *ngIf="isLogged">
                            <i class="bi bi-pencil-fill"></i>
                        </button>
                        <button class="btn btn-danger" (click)="delete(hys.idSkill)" *ngIf="isLogged">
                            <i class="bi bi-trash-fill"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>