<nav class="navegador bg-primary">
    <img src="../../../assets/logo-ap.png" alt="argentina programa" height="100%">
    <div class="flotarDerecha m-3">
        <a href="https://www.facebook.com/pame.mora08" target="_blank"><button class="btn btn-primary fa fa-facebook-official"></button></a>
        <a href="https://github.com/PaMora08" target="_blank"><button class="btn btn-primary fa fa-github-alt"></button></a>
        <a href="https://twitter.com/pame_mora08" target="_blank"><button class="btn btn-primary fa fa-twitter"></button></a>
        <a href="https://www.instagram.com/pame_mo" target="_blank"><button class="btn btn-primary fa fa-instagram"></button></a>
        <button class="btn btn-primary" (click)="login()" *ngIf="!isLogged">Ingresar</button>
        <button class="btn btn-primary" (click)="onLogOut()" *ngIf="isLogged">Cerrar Sesión</button>

    </div>
</nav>