<nav class="navegador bg-primary">
    <img src="../../../assets/logo-ap.png" alt="argentina programa" height="100%">
    <div class="flotarDerecha m-3">
        <button class="btn btn-primary fa fa-facebook-official"></button>
        <button class="btn btn-primary fa fa-github-alt"></button>
        <button class="btn btn-primary fa fa-twitter"></button>
        <button class="btn btn-primary fa fa-instagram"></button>
        <button class="btn btn-primary" (click)="login()" *ngIf="!isLogged">Ingresar</button>
        <button class="btn btn-primary" (click)="onLogOut()" *ngIf="isLogged">Cerrar Sesión</button>

    </div>
</nav>